@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Play&family=Roboto&display=swap');
:root{
    --font: 'Nunito', sans-serif;
    --primaryColor: #9769F9;
    --headingSize: 122px;
    --headingColor: #101010;
}

.flexContainer{
    display: flex;
    
}
#id{
    z-index: 1;
}
.gridContainer{
    display: grid;
    grid-template-areas: "c c1";
    grid-template-rows: auto;
    grid-template-columns: 50vw 30vw;
    margin-bottom: 14rem;
}

.head{
    margin-top: 6.5%;
    margin-left: 4%;
    grid-area: c;
}

.heading{
    font-family: var(--font);
    font-size: var(--headingSize);
    color: var(--headingColor);
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.heading__highlight{
    color: var(--primaryColor);
    
}

.subHeading{
    display: block;
    font-family: var(--font);
    color: var(--headingColor);
    font-size: 70px;
    
}

.srcBtn{
    border: 2px solid #9769F9;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
    border-radius: 5px;     
    height: 2.5rem;
    width: 15rem;
    color: var(--primaryColor);
    margin-top: 6rem;
    
    background-color: white;
}

.srcBtn:hover{
    background-color: var(--primaryColor);
    color: white;
}

.image{
    grid-area: c1;
    margin-top: 10rem;
    width: 32rem;
    
}

.scrollSidebar{
   
    margin-left: 8rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 2px;
}

.btn1{
    margin-top: 2rem;
    margin-bottom: 8rem;
    width: 10rem;
    height: 2.5rem;
    color: var(--primaryColor);
    border: 2px solid #9769F9;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
}
.btn1:hover{
    background-color: var(--primaryColor);
    color: white;
}

.btn{
    margin-top: 2rem;
    width: 10rem;
    height: 2.5rem;
    color: var(--primaryColor);
    border: 2px solid #9769F9;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
}

.btn:hover{
    background-color: var(--primaryColor);
    color: white;
}

.headLinks{
    
    font-family: var(--font);
    margin-top: 18rem;
    margin-bottom: 0rem;
    font-size: 2rem;
    
}

.link{
    display: flex;
    margin: 0rem;
}
.picLink{
    flex-direction: row;
    margin: 1rem 0.5rem 0rem 0rem;  
}

#github{
    width: 3rem;
    height: 3rem;
    background: url("images\\github.png") no-repeat; 
}
#github:hover{
    background: url("images\\github purple.png") no-repeat;
    
}

#devto{
    width: 3rem;
    height: 3rem;
    background: url("images\\DEV.png") no-repeat; 
}
#devto:hover{
    background: url("images\\dev purple.png") no-repeat;
    
}

#linkedIn{
    width: 3rem;
    height: 3rem;
    background: url("images\\linkedIn.png") no-repeat; 
}
#linkedIn:hover{
    background: url("images\\linkedIn purple.png") no-repeat;
    
}

#twitter{
    width: 3rem;
    height: 3rem;
    background: url("images\\twitter.png") no-repeat; 
}
#twitter:hover{
    background: url("images\\twitter purple.png") no-repeat;
    
}

.skills{
    font-family: var(--font);
    font-weight: 700;
    font-size: 30px;
}

.skillsImage{
    grid-area: c1;
    margin: 16rem 0rem 0rem 12rem;
    width: 20rem;
    
}

#skills{
    z-index: 2;
}

.htmlBubble{
    display: inline-block;
    width: 6.8rem;
    height: 6.5rem;
    background-image: url("images\\html bubble.png");
    grid-area: c1;
    margin: 11rem 0rem 0rem 5rem;
}

.htmlBubble__heading{
    margin: 2.5rem 0rem 0rem 1.5rem;
    grid-area: c1;
    color: var(--primaryColor);
}

.cssBubble{
    display: inline-block;
    width: 6.5rem;
    height: 6.5rem;
    background-image: url("images\\css bubble.png");
    grid-area: c1;
    margin: 8rem 0rem 0rem 13rem;
}

.cssBubble__heading{
    margin: 2.5rem 0rem 0rem 1.5rem;
    grid-area: c1;
    color: var(--primaryColor);
}

.jsBubble{
    display: inline-block;
    width: 6.9rem;
    height: 6.5rem;
    background-image: url("images\\js bubble.png");
    grid-area: c1;
    margin: 9.4rem 0rem 0rem 23rem;
}

.jsBubble__heading{
    margin: 2.5rem 0rem 0rem 0.8rem;
    grid-area: c1;
    color: var(--primaryColor);
}

.ReactJsBubble{
    display: inline-block;
    width: 6.6rem;
    height: 6.5rem;
    background-image: url("images\\reactjs bubble.png");
    grid-area: c1;
    margin: 14.4rem 0rem 0rem 32rem;
}
.ReactJsBubble:hover {
    display: inline-block;
    width: 10.2rem;
    height: 10.3rem;
    background-image: url("images\\new react.png");
    
    grid-area: c1;
    margin: 12.4rem 0rem 0rem 31rem;
}

.ReactJsBubble__heading{
    margin: 2.5rem 0rem 0rem 0.8rem;
    grid-area: c1;
    color: red
}



